/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* PAGE BACKGROUND */
body {
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    rgb(240, 248, 255),
    rgb(210, 225, 255),
    rgb(180, 195, 240)
  );
}

/* MAIN CONTAINER */
.container {
  padding: 20px;
}

/* TITLE */
h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #2c2c54;
  font-weight: 700;
}

/* INPUT ROW */
.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  background: #ffffff;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

input,
select,
button {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  font-size: 0.95rem;
  outline: none;
  transition: 0.3s ease;
}

input:focus,
select:focus {
  border-color: #5a6efd;
  box-shadow: 0 0 0 3px rgba(90, 110, 253, 0.25);
}

/* ADD EXPENSE BUTTON */
.form-row button {
  background: linear-gradient(135deg, #4caf50, #81c784);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.form-row button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* TABLE */
table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.18);
}

thead {
  background: linear-gradient(135deg, #5a6efd, #8e9eff);
  color: white;
}

th,
td {
  padding: 14px;
  text-align: center;
}

tbody tr {
  transition: 0.25s;
}

tbody tr:hover {
  background-color: #f3f5ff;
}

/* DELETE BUTTON */
td button {
  background: linear-gradient(135deg, #ff5252, #ff867c);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.85rem;
}

td button:hover {
  background: linear-gradient(135deg, #e53935, #ff7043);
}

/* EMPTY ROW */
td[colspan="5"] {
  font-style: italic;
  color: #555;
}

/* LOGOUT BUTTON */
.logout-btn {
  display: block;
  width: 110px; /* fixed width */
  margin: 25px auto 0;
  padding: 10px 0;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(135deg, #ff7043, #ff5722);
  color: white;
  transition: 0.3s;
}

.logout-btn:hover {
  background: linear-gradient(135deg, #ff5722, #e64a19);
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.logout{
  display: block;
  width: 110px; /* fixed width */
  margin: 25px auto 0;
  padding: 10px 0;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(135deg, #ec633a92, #872305);
  color: white;
  transition: 0.3s;
}