body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

input {
  padding: 5px;
}

/* ===== COMMON ===== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
  color: #333;
}

/* ===== INPUTS ===== */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

/* ===== BUTTONS ===== */
button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  background: #007bff;
  color: greenyellow;
}

button:hover {
  background: #0056b3;
}

/* ===== LINKS ===== */
.link-btn {
  background: transparent;
  color: #007bff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

/* ===== LANDING PAGE ===== */
.landing {
  text-align: center;
}

.landing button {
  width: 200px;
  margin: 10px;
}
